table, tr, td{
    border: 1px black dashed;
    font-family: Arial;
 }
 
 .right{
   color:green;
 }

 .wrong{
   color:red;
 }

 body{
  background-color:khaki;
 }
 #login, tr, td{
    border: 1px;
    font-family: Arial;

 }