
<h1>Введите целое число n > 0</h1>


<%= form_with url: "/index/output", id: 'sform',local:false, method: :get do |form| %>
  <%= form.number_field :inpt, in:1..Float::INFINITY%>
  <%= form.submit "Отправить" %>
<% end %>

<div id='result'></div>
